@font-face {
    font-family: Rinstonia;
    src: url(./fonts/Rinstonia.ttf) format("truetype");
}

@font-face {
    font-family: RobotoMono;
    src: url(./fonts/RobotoMono.ttf) format("truetype");
}

:root {
    --black: #000000;
    --whitish-blue: #e3f3f8;
    --white: #FFFFFF;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--black);
    color: var(--white);
}

/* star css copied from https://github.com/notiz-dev/notiz/blob/master/src/nightsky.scss */
.star {
    width: 1px;
    height: 1px;
    background: transparent;
    position: fixed;
    z-index: -1;
}

p {
    margin: 0;
}

.name-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    font-family: Rinstonia;
    font-size: 12rem;
    color: var(--whitish-blue);
    margin-bottom: 0;
}

.designation-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.designation-container .designation {
    font-family: monospace, RobotoMono;
    font-size: 2rem;
    color: var(--whitish-blue);
}

.description-container {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-container p {
    font-family: monospace, RobotoMono;
    font-size: 1.8rem;
    color: var(--whitish-blue);
}